$color-white: #ffffff;
$color-black: #1b162e;
$color-gray: #efeded;
$color-lightgray: #c1c1c3;
$color-red: #9c162e;
$color-blue: #4272d7;
$color-blue2: #638efe;
$color-orange: #ed8031;
$color-green: #7cc64b;
$color-purple: #a31ea1;
$color-yellow: #f7e02c;
$color-broune: #e2bf65;
