@import "./media.scss";

.title {
  &__main {
    font-size: 30px;
  }
  &__huge {
    font-size: 60px;
    @include media-large {
      font-size: 80px;
    }
  }
}
.text {
  &__main {
    font-size: 20px;
  }
  &__big {
    font-size: 30px;
  }
}
