<app-header></app-header>
<div class="main__content" *ngIf="loading$ | async as state; else items">
  <app-spiner></app-spiner>
</div>
<ng-template #items>
  <ul class="main__list">
    <li
      class="main__list-item type_{{ item.types[0].type.name }}"
      *ngFor="let item of renderedPokemon"
      [routerLink]="['/pokemon', item.name]"
    >
      <div class="main__img-box">
        <img
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{
            item.id
          }}.png"
          [alt]="item.name"
          class="main__img"
        />
      </div>

      <div class="main__box">
        <span class="main__title">{{ item.name }}</span>
        <ul class="main__sublist">
          <li class="main__sublist-item" *ngFor="let item of item.types">
            <span class="main__text_list">{{ item.type.name }}</span>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</ng-template>
<app-pagination
  [currentPage]="currentPage"
  [totalPages]="totalPages"
  (goTo)="onGoTo($event)"
  (next)="onNext($event)"
  (previous)="onPrevious($event)"
></app-pagination>
