@import "../../styles/colors.scss";
@import "../../styles/typography.scss";

:host {
}

.main {
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 41px;
    margin-bottom: 50px;
  }
  &__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-lightgray;
    border-radius: 8px;
    overflow: hidden;
  }
  &__img {
    height: 240px;
  }
  &__box {
    background-color: $color-white;
    width: 100%;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    max-height: 33%;
    height: 100%;
  }
  &__title {
    @extend .title__main;
    text-align: center;
    text-transform: capitalize;
  }
  &__sublist {
  }
  &__sublist-item {
    &::before {
      content: "-";
    }
  }
  &__text {
    @extend .text__main;
  }
}
