@import "../../styles/colors.scss";
@import "../../styles/typography.scss";
@import "../../styles/media.scss";

:host {
}

.main {
  &__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 41px;
    margin-bottom: 50px;
    box-sizing: border-box;
    padding: 0px 15px;

    @include media-medium {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media-extra-large {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &__list-item {
    display: flex;
    align-items: center;
    background-color: $color-lightgray;
    border-radius: 8px;
    overflow: hidden;
  }
  &__img-box {
    position: relative;
    padding-right: 150px;
    padding-bottom: 150px;
    @include media-medium {
      padding-right: 250px;
      padding-bottom: 250px;
    }
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &__box {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    @include media-medium {
      align-items: center;
      justify-content: center;
    }
  }
  &__title {
    @extend .title__main;
    margin-bottom: 5px;
    text-transform: capitalize;
  }
  &__sublist {
    display: flex;
    flex-direction: column;
    @include media-medium {
      flex-direction: row;
    }
  }
  &__sublist-item {
    border: 1px solid $color-white;
    border-radius: 8px;
    padding: 5px 10px;
    margin-right: 15px;
    margin-bottom: 10px;
  }
  &__text {
    @extend .text__main;
  }
  &__type {
    &_fire {
      background-color: $color-orange;
    }
    &_water {
      background-color: $color-blue2;
    }
    &_grass {
      background-color: $color-green;
    }
    &_bug {
      background-color: $color-green;
    }
    &_electric {
      background-color: $color-yellow;
    }
    &_poison {
      background-color: $color-purple;
    }
    &_ground {
      background-color: $color-broune;
    }
  }
}
