<input type="search" class="header__search" />
<label class="header__label">
  <input type="checkbox" class="header__checkbox" />
  <div class="header__box">
    <span class="header__line header__line_1"></span>
    <span class="header__line header__line_2"></span>
    <span class="header__line header__line_3"></span>
  </div>
  <ul class="header__list">
    <li class="header__list-item">
      <a class="header__link" routerLink="/main">Home</a>
    </li>
    <li class="header__list-item">
      <a class="header__link" routerLink="/profile">My Profile</a>
    </li>
    <li class="header__list-item">
      <button class="header__button" type="button">
        <span class="header__text">LogOut</span>
      </button>
    </li>
  </ul>
</label>
