<app-header></app-header>
<div class="profile__content">
  <div class="profile__box profile__box_left">
    <span class="profile__title">{{ trainer.name }}</span>
    <span class="profile__text">{{ trainer.email }}</span>
    <div class="profile__pokemons">
      <div class="pofile__pokemon-box" *ngFor="let item of pokemons$ | async">
        <div class="profile__img-box type_{{ item.types[0].type.name }}">
          <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{
              item.id
            }}.png"
            [alt]="item.name"
            class="profile__img"
          />
        </div>
        <div class="profile__box">
          <span class="profile__title profile__title_small">{{
            item.name
          }}</span>
          <ul class="profile__list">
            <li class="profile__list-item" *ngFor="let item of item.types">
              <span class="profile__text_list">{{ item.type.name }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="profile__box profile__box_right">
    <img
      [src]="'../../assets/' + trainer.gender + '.png'"
      alt="trainer"
      class="profile__img"
    />
  </div>
</div>
